*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 118.75em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 330px) {
    html {
      font-size: 31.25%; } }

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  background-color: #e9eae5; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none;
  color: #e9eae5; }

.link--hover,
.link--hover:visited {
  transition: all 0.1s linear; }
  .link--hover:hover,
  .link--hover:visited:hover {
    display: inline-block;
    box-shadow: 0 0.2rem 2rem 0 rgba(30, 30, 30, 0.3);
    transform: translateY(-0.3rem) scale(1.2); }
  .link--hover:active,
  .link--hover:visited:active {
    transform: translateY(0) scale(1.1); }

body {
  font-family: 'Lora', serif, Arial;
  font-weight: 400;
  line-height: 1; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 2.5rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem; } }

.u-margin-bottom-small {
  margin-bottom: 1.8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1.5rem; } }

.u-center-text {
  text-align: center; }

.footer {
  position: relative;
  background-color: #36567b;
  border-top: 2px solid #e9eae5;
  height: 33vh; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      height: 30vh; } }
  .footer__container {
    display: flex;
    height: 100%; }
    @media only screen and (max-width: 37.5em) {
      .footer__container {
        flex-direction: column; } }
  .footer-left {
    width: 50%;
    display: flex;
    padding-top: 5rem;
    align-items: flex-start; }
    @media only screen and (max-width: 68.75em) {
      .footer-left {
        height: 80%;
        padding-top: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer-left {
        width: 100%;
        padding-top: 2.5rem;
        height: 45%; } }
    .footer-left-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; }
      @media only screen and (max-width: 68.75em) {
        .footer-left-box {
          flex-direction: column;
          justify-content: flex-start;
          height: 80%; } }
  .footer__logo {
    padding-right: 2.8rem; }
  .footer__nav {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 68.75em) {
      .footer__nav {
        margin-top: 3rem; } }
  .footer__nav-list:not(:last-child) {
    margin-right: 2.8rem; }
  .footer__nav-link {
    text-transform: uppercase;
    font-size: 1.4rem; }
  .footer-right {
    position: absolute;
    width: 50%;
    right: 0;
    height: 65%;
    background-color: #314e6f;
    color: #e9eae5;
    box-shadow: 0 0.7rem 1.5rem 0 rgba(55, 57, 59, 0.8); }
    @media only screen and (max-width: 37.5em) {
      .footer-right {
        width: 100%;
        height: 50%;
        position: relative; } }
    .footer-right-box {
      letter-spacing: 0.7px;
      width: 100%;
      padding-left: 4.8rem;
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: center; }
      @media only screen and (max-width: 37.5em) {
        .footer-right-box {
          height: 100%; } }
    .footer-right__line {
      background-color: #e9eae5;
      height: 2px;
      display: inline-block;
      width: 3rem;
      margin-bottom: 3vh; }
    .footer-right__h5 {
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: uppercase; }
    .footer-right__contact {
      display: flex;
      flex-direction: column;
      padding-top: 3rem;
      justify-content: space-between;
      height: 40%; }
    .footer-right__h4 {
      font-weight: 400; }
    .footer-right__email {
      align-self: center;
      padding-left: 7rem; }
  .footer__copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #e9eae5;
    background-color: #36567b;
    padding: 2rem;
    font-size: 1.6rem; }

.header {
  background-color: #36567b;
  width: 100%;
  height: 100vh;
  padding-top: 6rem;
  position: relative;
  border-bottom: 2px solid #e9eae5; }
  @media only screen and (max-width: 25em) {
    .header {
      height: 66.666vh; } }

.heading {
  width: 80%;
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .heading {
      flex-direction: column; } }
  .heading__nav {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 37.5em) {
      .heading__nav {
        padding-top: 3rem; } }
    .heading__nav-list {
      text-transform: uppercase; }
      .heading__nav-list:not(:last-child) {
        margin-right: 3.7rem; }
      @media only screen and (max-width: 37.5em) {
        .heading__nav-list {
          padding-bottom: 2rem; } }
    .heading__nav-link, .heading__nav-link:visited {
      font-size: 1.6rem; }

.center {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%); }
  .center__title {
    width: 100%; }
  .center__subtitle-box {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    color: #e9eae5;
    width: 100%;
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center; }
  .center__subtitle {
    letter-spacing: 0.48rem;
    font-weight: 300;
    position: relative;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .center__subtitle {
        font-size: 1.6rem;
        letter-spacing: 0.3rem; } }
    @media only screen and (max-width: 25em) {
      .center__subtitle {
        letter-spacing: 0.2rem; } }
    .center__subtitle span {
      background-color: #36567b;
      display: inline-block;
      z-index: 30;
      position: relative;
      padding: 1rem 1rem 1rem 1.6rem; }
    .center__subtitle::after {
      content: '';
      display: inline-block;
      color: #e9eae5;
      width: 100%;
      border-bottom: solid 1px #fff;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1; }

.logo-box {
  width: 12rem; }

.logo--small {
  width: 100%; }

.about-us {
  height: 100vh;
  width: 100%; }
  @media only screen and (max-width: 25em) {
    .about-us {
      height: 66.666vh; } }

.article {
  width: 100%;
  height: 50%;
  position: relative;
  background-color: #314e6f;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 25em) {
    .article {
      box-shadow: 0 1.2rem 5rem 0 rgba(55, 57, 59, 0.8); } }
  .article:hover {
    position: relative;
    box-shadow: 0 1.2rem 5rem 0 rgba(55, 57, 59, 0.8); }
  .article .logo-img--hover {
    transition: all 0.2s ease-in-out; }
  .article__box {
    width: 65%;
    transform: translateY(-1rem); }
  .article__title {
    font-size: 2.4rem;
    background-image: linear-gradient(120deg, #c09c77, #9b7247 27%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  .article__line {
    background-color: #e9eae5;
    height: 2px;
    display: inline-block;
    width: 3rem;
    margin: 2rem 0; }
  .article__p {
    color: #e9eae5;
    line-height: 2; }

.logo-img {
  display: flex;
  height: 50%; }
  .logo-img--grey {
    width: 50%;
    position: relative;
    background-image: url(../../img/Paper_Texture.jpeg);
    background-size: cover; }
  .logo-img--blue {
    width: 50%;
    position: relative;
    background-color: #314e6f; }
  .logo-img--letter {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%); }

.product {
  height: 100vh;
  width: 100%; }
  .product__img-box {
    height: 50%;
    background-image: url(../../img/product_bg.jpeg);
    background-size: cover;
    background-position: 100% 65%; }
  @media only screen and (max-width: 25em) {
    .product {
      height: 66.666vh; } }

.services {
  height: 100vh;
  width: 100%; }
  @media only screen and (max-width: 25em) {
    .services {
      height: 66.666vh; } }

.logo-img--pink {
  width: 50%;
  position: relative;
  background-color: #fdcac7; }

.logo-img--mint {
  width: 50%;
  position: relative;
  background-color: #d3f0eb; }

.logo-img--letter {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%); }
