// COLORS
$color-blue-light: #36567b;
$color-blue-dark: #314e6f;

$color-gold-light: #c09c77;
$color-gold-dark: #9b7247;

$color-font: #e9eae5;

$color-pink: #fdcac7;
$color-mint: #d3f0eb;

// FONT
$default-font-size: 1.8rem;

// BOX SHADOW
$box-shadow-default: 0 1.2rem 5rem 0 rgba(#37393b, 0.8);

//Margin
$margin-bottom-small: 2rem;
$margin-bottom-medium: 4rem;
$margin-bottom-big: 6.5rem;
$margin-bottom-huge: 8rem;
