*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px

  // @include respond(big-desktop) {
  //   font-size: 75%; // 12px
  // }

  // @include respond(tab-land) {
  //   font-size: 56.25%; // 1rem = 9px, 8/16 = 56.25%
  // }

  // @include respond(tab-port) {
  //   font-size: 50%; // 8px
  // }
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  background-color: $color-font;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-font;
}
