*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10px

  @include respond(big-desktop) {
    font-size: 75%; // 12px
  }

  @include respond(tab-port) {
    font-size: 50%; // 8px
  }

  @include respond(phone) {
    font-size: 43.75%; // 7px
  }

  @include respond(phone-small) {
    font-size: 37.5%; // 6px
  }

  @media only screen and(max-width:330px) {
    font-size: 31.25%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  background-color: $color-font;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-font;
}

.link--hover,
.link--hover:visited {
  transition: all 0.1s linear;

  &:hover {
    display: inline-block;
    box-shadow: 0 0.2rem 2rem 0 rgba(#1e1e1e, 0.3);
    transform: translateY(-0.3rem) scale(1.2);
  }

  &:active {
    transform: translateY(0) scale(1.1);
  }
}
